{% extends 'base.html' %}

{% block content %}
<h1>Welcome to the PokeDex!</h1>


{% for pokemon in pokemon_list %}

<div>
    <style>
    :root {
        --pico-border-radius: 2rem;
        --pico-typography-spacing-vertical: 1.5rem;
        --pico-form-element-spacing-vertical: 1rem;
        --pico-form-element-spacing-horizontal: 1.25rem;
    }
    h2 {
        --pico-text-decoration: none;
    }
    
    a {
        --pico-text-decoration: none;
    }
    a:hover {
        --pico-text-decoration: none;
    }
  
    </style>
    <h2><a href="{{ pokemon.get_absolute_url }}" class = "secondary; pico-color-red-500"  >{{ pokemon.name }} - #{{ pokemon.dexNum }}</a></h2>
</div>

{% endfor %}
 
{% endblock content %}